

<li class="sidebar-brand">
    Configuration
</li>
<li>
    <a asp-page="/Admin/Clients/Index">
        <img src="~/images/Navbar/icons8-customer-96.png" width="32" />
        Clients
    </a>
</li>
<li><a asp-page="/Admin/Categories/Index">Categories</a></li>
<li><a asp-page="/Admin/SubCategories/Index">Sub Categories</a></li>
<li><a asp-page="/Admin/TicketStatus/Index">Status</a></li>
<li><a asp-page="">Windows Event Logs</a></li>
<li><a asp-page="">SysLog</a></li>
<li><a asp-page="/Clients">
    <img src="~/images/Navbar/icons8-customer-96.png" width="32" />
    Users</a>
    </li>
<li><a asp-page="/Admin/Techs/Index">
    <img src="~/images/Navbar/icons8-worker-96.png" width="32" />Technicians</a>
    </li>
<li><a asp-page="/Clients">
    <img src="~/images/Navbar/icons8-security-lock-96.png" width="32" />Roles</a>
    </li>
