@page
@model Janus.Gui.Pages.Info.ChangeLogModel
@{
    ViewData["Title"] = "ChangeLog";
}

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">Ticket Details</li>
            <li><a href="#">Comments</a></li>
            <li><a href="#">Notes</a></li>

            <li class="sidebar-brand">Actions</li>
            <li>
                <a asp-page="./Index">
                    <img src="~/images/Navbar/icons8-back-96.png" width="32" />
                    Back to List
                </a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        <div class="container-fluid content-form-center">
            <h4>08/05/2018</h4>
            <hr />
            This is a palce holder for now as I work on how this will be configured going forward.

        </div>
    </div>
</div>