@page
@model Janus.Gui.Pages.Admin.SubCategories.EditModel

<h4>SubCategories</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Categories.GUID" />
            <div class="form-group">
                <label asp-for="Categories.Value" class="control-label"></label>
                <input asp-for="Categories.Value" class="form-control" />
                <span asp-validation-for="Categories.Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories.DateAdded" class="control-label"></label>
                <input asp-for="Categories.DateAdded" class="form-control" />
                <span asp-validation-for="Categories.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories.AddedBy" class="control-label"></label>
                <input asp-for="Categories.AddedBy" class="form-control" />
                <span asp-validation-for="Categories.AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
