@page
@model Janus.Gui.Pages.Dev.TestModel

@{
  ViewData["Title"] = "Test";
}

<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <!--Insert items for this page-->
            <li class="sidebar-brand">Filters</li>
            <li><a asp-page="/Tickets/Index" asp-route-filter="*">Everything</a></li>
            <li><a asp-page="/Tickets/Index" asp-route-filter="AllOpen">All Open</a></li>

            <li class="sidebar-brand">Actions</li>
            <li>
                <a asp-page="Create">
                    <img src="~/images/Navbar/icons8-plus-96.png" width="32" />
                    New Item
                </a>
            </li>
            <li>
                <a asp-page="./Index">
                    <img src="~/images/Navbar/icons8-back-96.png" width="32" />
                    Back to List
                </a>
            </li>
        </ul>
    </div>

    <div id="page-content-wrapper">
        
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}